:root {
    --footer-background-color: #00954d;
    --main-text-color: #20336e;
    --secondary-text-color: #ffffff;
    --accent-color: #AD0879;
    --main-font-family: 'Open Sans';
}

body {
  margin: 0;
  width: 2360px;
  height: 1640px;
  overflow: hidden;
}

p,
span,
h1 {
  margin: 0;
  padding: 0;
}

.slide {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 150px;
  height: 150px;
  background-color: var(--footer-background-color);
  color: var(--secondary-text-color);
  z-index: 2;
}

.footer__title {
  font-family: var(--main-font-family), sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.footer__nav {
  display: flex;
  gap: 50px;
}

.footer__button {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer__text {
  font-family: var(--main-font-family), sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
}

.popup {
  position: fixed;
  inset: 0;
  z-index: 1;
  pointer-events: none; 
}

.popup.active {
  pointer-events: auto;
}

.popup.active .popup__overlay {
  opacity: 1;
  pointer-events: auto;
}

.popup.active .popup__body {
  transform: translateY(0);
}

.popup.active .popup__text {
  opacity: 1;
  transition-delay: 0.45s; 
}

.popup__overlay {
  position: absolute;
  inset: 0;
  bottom: 150px;
  background: rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.popup__body {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 540px;
  background: url('../images/popup_background.svg') no-repeat center/contain;
  transform: translateY(100%);
  transition: transform 0.5s cubic-bezier(.2,.9,.2,1);
}

.popup__close {
  position: absolute;
  top: 80px;
  right: 150px;
  width: 105px;
  height: 70px;
  background: var(--footer-background-color);
  border: none;
  cursor: pointer;
  clip-path: polygon(
    25px 0,                     /* срез верхнего левого угла */
    100% 0,
    100% calc(100% - 25px),     /* срез нижнего правого угла */
    calc(100% - 25px) 100%,
    0 100%,
    0 25px
  );
}

.popup__content {
  position: absolute;
  left: 150px;
  bottom: 300px;
}

.popup__text {
  font-family: var(--main-font-family), sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #646464;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition-delay: 0s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to { 
    opacity: 0;
  }
}

@keyframes popupShow {
  to {
    bottom: 0;
  }
}

@keyframes popupHide {
  to {
    bottom: -100%;
  }
}