.slide_01 {
  background-image: url("../images/slide01/background.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
}

.main {
  display: flex;
  gap: 290px;
}

.main__title {
  font-stretch: 75%;
  font-weight: 600;
  font-size: 180px;
  line-height: 130%;
  color: var(--main-text-color);
  text-align: left;
  margin-top: 240px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}

.main__image {
  width: 1075px;
  margin-top: 135px;
  transform: translateX(100%);
  animation: slideIn 1.5s ease forwards;
  animation-delay: 0.5s;
}

.footer {
  padding-inline: 130px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}