.slide_00 {
  background-image: url("/images/background_pink.svg"),
    url("/images/slide00/background_blue_long.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__text {
  font-weight: 400;
  font-size: 45px;
  color: #313e80;
  width: 2050px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
  animation-delay: 0.5s;
}