body {
  margin: 0;
  width: 2360px;
  height: 1640px;
  font-family: 'Open Sans', sans-serif;
}

div {
  box-sizing: border-box;
}

p,
span,
h1,
h2 {
  margin: 0;
  padding: 0;
  color: #20336e;
  line-height: 130%;
}

a {
  color: inherit;
}

.slide {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.slide_02 {
  background-image: url("../images/slide02/background_pink.svg"),
    url("../images/slide02/background_blue_short.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}

.main {
  padding: 150px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  gap: 260px;
}

.description__text {
  font-weight: 400;
  font-size: 45px;
  width: 790px;
}

.illustration {
  position: relative;
}

.illustration__image {
  width: 815px;
}

.caption {
  position: absolute;
  top: -5px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.caption-left {
  align-items: start;
  left: -180px;
}

.caption-right {
  align-items: end;
  left: 650px;
}

.caption__text {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  max-width: 310px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
  animation-delay: 0.5s;
}

.caption-right .caption__text {
  text-align: right;
}

.caption__marker {
  display: flex;
  align-items: center;
  gap: -5px;
}

.caption-left .caption__marker {
  flex-direction: row-reverse;
}

.caption__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #20336e;
  opacity: 0;
  animation: showDot 0.6s forwards;
}

.caption__line {
  width: 345px;
  height: 2px;
  background-color: #20336e;
  transform: scale(0);
  animation: growLine 0.8s forwards;
  animation-delay: 0.6s;
}

.caption-left .caption__line {
  transform-origin: right;
}

.caption-right .caption__line {
  transform-origin: left;
}

.gallery {
  display: flex;
  align-items: center;
}

.gallery__item {
  position: relative;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.gallery__item:nth-child(1) {
  animation-delay: 0.2s;
}
.gallery__item:nth-child(2) {
  animation-delay: 0.8s;
}
.gallery__item:nth-child(3) {
  animation-delay: 1.4s;
}
.gallery__item:nth-child(4) {
  animation-delay: 2s;
}
.gallery__item:nth-child(5) {
  animation-delay: 2.6s;
}
.gallery__item:nth-child(6) {
  animation-delay: 3.2s;
}

.gallery__item-label {
  position: absolute;
  bottom: -35px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 70px;
  background: #2fafdc;
  clip-path: polygon(
    30px 0,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0 30px
  );
}

.gallery__item-year {
  font-weight: 700;
  font-size: 45px;
  line-height: 120%;
  color: #fff;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 150px;
  height: 150px;
  background-color: #00954d;
  z-index: 2;
}

.footer__title {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.footer__nav {
  display: flex;
  gap: 50px;
}

.footer__button {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showDot {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes growLine {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.popup {
  position: fixed;
  inset: 0;
  z-index: 1;
}

.popup__overlay {
  position: absolute;
  inset: 0;
  bottom: 150px;
  background: rgba(0, 0, 0, 0.15);
  opacity: 0;
}

.popup__body {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 540px;
  background: url("/images/slide02/popup_background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popup__text {
  opacity: 0;
}

.popup__close {
  position: absolute;
  top: 80px;
  right: 150px;
  width: 105px;
  height: 70px;
  background-color: #00954d;
  border: none;
  cursor: pointer;
  clip-path: polygon(
    25px 0,
    100% 0,
    100% calc(100% - 25px),
    calc(100% - 25px) 100%,
    0 100%,
    0 25px
  );
}

.popup__content {
  position: absolute;
  left: 150px;
  bottom: 300px;
}

.popup__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #646464;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes popupHide {
  from {
    bottom: 0;
  }
  to {
    bottom: -100%;
  }
}

@keyframes popupShow {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}